.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.titulo{
  font-family: cursive;
  font-size: 30px !important;
}
.navbar{
  flex-wrap: nowrap!important;
}
.imgcarr{
  width: 35px;
  height: 35px;
  margin: 5px;
}
span{
  margin: 5px;
}
.bienvenido{
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-style: italic;
}
.cardHome{
display: flex;
flex-wrap: wrap;
}
.count{
  display: flex;
  flex-wrap: wrap;
}
.stock{
  font-size: 25px;
}